:root{
    --header-height: 3rem;
    --first-color: #000000 ;
    --first-color-alt: #032329;
    --first-color-send: #8f3bde;
    --title-color: #161212;
    --text-color: #5b5757;
    --text-color-light: #8f8a8a;
    --body-color: #fefbfb;
    --container-color: #fff;
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --font-semi-bold: 600;
    --font-bold: 700;

}

a {
    text-decoration: none;
  }

html {
    scroll-behavior: smooth;
  }
  body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: white;
    color: var(--text-color);
    line-height: 1.6;
  }
  .button {
    display: inline-block;
    background-color: rgb(1, 127, 66);
    color: #fff;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    font-weight: var(--font-semi-bold);
    transition: 0.3s;
    margin-bottom: 10px;
  }
  
  .button:hover {
    background-color: var(--first-color-alt);
  }
  
  .button-link {
    background: none;
    padding: 0;
    color: var(--first-color);
  }
  
  .button-link:hover {
    background-color: transparent;
    color: var(--first-color-alt);
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("Focosa.jpg");
    background-repeat: repeat;
    background-size: auto 100px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h1{
  background-color: rgb(1, 127, 66);
  color: aliceblue;
  padding: 6px;
  border-radius: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#form{
    background-color: aliceblue;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    position: fixed;
}
footer{
  text-align: center;
}
label{
  color: rgb(1, 127, 66);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-style: var(--font-bold);
}
input{
  border-radius: 5px;
  padding: 5px;
  margin-top: 1rem;
}
#series{
  margin-top: 1rem;
}
.agree{
  color:var(--first-color-alt);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  margin-top: 1px;
}
footer{
  background-color: var(--first-color-alt);
  padding: 5px;
  color: rgb(131, 147, 160);
  border-radius: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: smaller;
}
